absl-py==2.5.0
attrs==26.1.0
audio-separator==0.44.2
audioread==3.1.0
basic-pitch==0.4.0
beartype==0.18.5
cattrs==26.1.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
coremltools==9.0
Cython==3.2.8
decorator==5.3.1
diffq==0.2.4
einops==0.8.2
filelock==3.29.5
flatbuffers==25.12.19
fsspec==2026.6.0
idna==3.18
importlib_resources==7.1.0
Jinja2==3.1.6
joblib==1.5.3
julius==0.2.8
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.48.0
MarkupSafe==3.0.3
mido==1.3.3
mir_eval==0.8.2
ml_collections==1.1.0
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.2.1
narwhals==2.23.0
networkx==3.6.1
numba==0.66.0
numpy==2.4.6
onnx-weekly==1.23.0.dev20260629
onnx2torch-py313==1.6.0
onnxruntime==1.27.0
packaging==26.2
pillow==12.3.0
platformdirs==4.10.0
pooch==1.9.0
pretty_midi==0.2.11
protobuf==7.35.1
pyaml==26.7.0
pycparser==3.0
pydub==0.25.1
PyYAML==6.0.3
requests==2.34.2
resampy==0.4.2
rotary-embedding-torch==0.6.5
samplerate==0.1.0
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
soundfile==0.14.0
soxr==1.1.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.12.1
torchvision==0.27.1
tqdm==4.68.3
typing_extensions==4.16.0
urllib3==2.7.0
